# Python virtual environment
.venv/

# Python cache directories
__pycache__/
*.pyc

# MLflow artifacts and local tracking data
mlruns/
mlruns_branch_mlflow/
mlartifacts/

# IDE specific files
.vscode/

# Other files to exclude from versioning
*.log
artifacts/
mlflow.db
